@media (max-width: 600px){
    
    .products{
        display: inherit;
        height: auto;
    }
    .product{
        margin-top: auto;
    }
    .main_section{
        padding: 4%;
    }
    .products_descriptions{
        display: inherit;
    }
    .mentions{
        display: inherit;
        align-items: center;
    }
    }
